:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */
  box-sizing: border-box;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 1em;
  background-color: #1a1a1a;
  color: rgb(0, 0, 0) ;
  width: 100vw;
  height: auto;
}
.navbar h1 {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  font-size: 2rem;
}
.navbar div{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1rem;
  color: white;
}
input {
  padding: 0.9em 1.2em;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid #ccc;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  box-sizing: border-box;
  transition: border-color 0.25s; 
  position: relative;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.9em 1.2em;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  position: absolute;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
