@import "tailwindcss";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  scroll-snap-type: y proximity;
  scroll-snap-stop: always;
  scroll-margin-top: 4rem;
  scroll-margin-bottom: 4rem;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #1f2937;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 20px;
    border: 3px solid #1f2937;
  }
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
}
/* index.css or global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
