@import "tailwindcss";
.dark{
    background-color: black;
    color: white;   
       
}
.light{
    background-color: white;
    color: black;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
