.card {
  background-color: white;
  color: black;
  display: flex;
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  z-index: 1;
}
.card img {
  width: 50%;
  height: 50%;
  height: auto;
  border-radius: 10px;
  background-color: black;
}
.card:hover {
  transform: scale(1.05);
}
.card h2 {
  margin: 10px 0;
}
.card p {
  margin: 5px 10;
}

.card button {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.card button:hover {
  background-color: #218838;
  transform: scale(1.1);
}