:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  height: 100%;
}
.App{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #121212; */
  color: #fff;
}
.App button {
  cursor: pointer;
  background-color: #165a1c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.App button:hover {
  background-color: #10974f;
}
.Data{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #121212;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
}
.card{
  width: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
  background-size: contain;
  color: #121212;
}
.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.card p {
  font-size: 1rem;
  color: #b0b0b0;
}
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}